@font-face {
  font-family: MokeFont;
  src: url("./assets/font/moke-font.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  cursor: default;
  font-family: MokeFont;
}

body {
  background-image: url("./assets/img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 40px;
}

.title-span {
  text-align: center;
  width: 100%;
}

.subtitle {
  color: #FFCD00;
  font-size: 36px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  margin-top: -40px;
}

.pet-selection, .attack-selection {
  background-color: rgba(0, 0, 0, 0.4);
  border: 10px solid rgba(0, 0, 0, 0.6);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 850px;
  padding: 50px;
  width: 50%;
}

.pet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 55px;
  min-width: 800px;
  width: 90%;
}

.pet-container__mokeball, .pet-container__card {
  height: 200px;
}

.pet-container__mokeball--hidden {
  display: none;
}

.pet-container__mokeball:hover {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: buzz-out-on-hover;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-name: buzz-out-on-hover;
  animation-timing-function: linear;
  cursor: pointer;
}

.pet-container__card {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: lighting;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-name: lighting;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

[class^="pet-container__card"] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

[class^="pet-container__card"]:hover {
  font-size: 20px;
}

.pet-container__card--capipepo {
  background-image: url("./assets/img/mokepones/capipepo-default.png");

}

.pet-container__card--capipepo:hover {
  background-image: url("./assets/img/mokepones/capipepo-attack.png");
}

.pet-container__card--ratigueya {
  background-image: url("./assets/img/mokepones/ratigueya-default.png");
}

.pet-container__card--ratigueya:hover {
  background-image: url("./assets/img/mokepones/ratigueya-attack.png");
  background-position: 1.5px;
  background-size: 105%;
}

.pet-container__card--hipodoge {
  background-image: url("./assets/img/mokepones/hipodoge-default.png");
}

.pet-container__card--hipodoge:hover {
  background-image: url("./assets/img/mokepones/hipodoge-attack.png");
  background-position-y: -32px;
  background-size: 125%;
}

.pet-container__card-name {
  color: #FFCD00;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  position: absolute;
  top: 85%;
}

.pet-container__card--checked--capipepo {
  background-color: rgba(106, 134, 74, 0.5);
  border: 5px solid rgb(106, 134, 74);
  border-radius: 20px;
}

.pet-container__card--checked--ratigueya {
  background-color: rgba(186, 92, 36, 0.5);
  border: 5px solid rgb(186, 92, 36);
  border-radius: 20px;
}

.pet-container__card--checked--hipodoge {
  background-color: rgba(14, 98, 158, 0.5);
  border: 5px solid rgb(14, 98, 158);
  border-radius: 20px;
}

.pet-container__card--hidden {
  display: none;
}

.pet-selection__button {
  background-color: #FFCD00;
  background: linear-gradient(to bottom, #EF3E33 55%, #FFFFFF 45%);
  border: 3px solid #000000;
  border-radius: 20px;
  color: #333335;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2.5px;
  padding: 5px 20px 10px;
}

.pet-selection__button:hover {
  background: #FFCD00;
  border-color: #356ABC;
  color: #356ABC;
  transition: 1s;
}

.pet-selection__button--disabled {
  -webkit-filter: contrast(.35);
  filter: contrast(.35);
  pointer-events: none;
}

.pet-container__input {
  display: none;
}

.lives-section {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  position: relative;
  width: 100%;
}

.lives-section__text {
  color: #0F629D;
  font-size: 35px;
  letter-spacing: 2.5px;
  line-height: 15px;
  margin-top: 20px;
}

.lives-section__player {
  color: #FFCD00;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 15px;
  margin-top: 10px;
  position: absolute;
  top: -5px;
  text-align: center;
}

#lives-section__player-pet-badge,
#lives-section__opponent-pet-badge {
  height: 80px;
}

.lives-quantity-img {
  height: 70px;
}

.attack-selection__subtitle {
  color: #FFCD00;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 0;
}

.attack-selection__button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.attack-selection__button {
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 2px 5px 10px;
  width: 150px;
}

.attack-selection__button--capipepo {
  background-color: #99C35F;
  border: 3px solid #583226;
  color: #583226;
}

.attack-selection__button--ratigueya {
  background-color: #FFE1A5;
  border: 3px solid #BA5C24;
  color: #BA5C24;

}

.attack-selection__button--hipodoge {
  background-color: #CCE3EC;
  border: 3px solid #0F629D;
  color: #0F629D;
}

.attack-selection__button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.attack-selection__button:disabled {
  -webkit-filter: contrast(.35);
  filter: contrast(.35);
  pointer-events: none;
}

.attack-selection__battle-results {
  background-color: rgba(0, 0, 0, .75);
  border: 5px solid rgba(255, 205, 0, .75);
  border-radius: 25px;
  color: #FFCD00;
  font-size: 12px;
  letter-spacing: 4px;
  margin-top: 15px;
  outline: none;
  padding: 5px 22px;
  resize: none;
  text-align: center;
  height: 200px;
  width: 100%;
}

.attack-selection__battle-results::-webkit-scrollbar {
  width: 10px;
}

.attack-selection__battle-results::-webkit-scrollbar-button {
  padding: -7px;
}

.attack-selection__battle-results::-webkit-scrollbar-thumb {
  background-color: #FFCD00;
  border-radius: 5px;
}

.attack-selection__battle-results::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(255, 205, 0, .4);
}

#restart-section {
  margin: 0 auto;
}

#restart-section__button {
  background-color: #EF3E33;
  border: 3px solid #000000;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 15px;
  padding: 0 50px 5px;
}

#restart-section__button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

/*====================*/
/* BUZZ OUT   -   Fuente: https://codepen.io/techshiva/pen/JVbKLM
/*====================*/

@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}


/*====================*/
/* LIGHTING
/*====================*/

@-webkit-keyframes lighting {
  0% {
    -webkit-filter: brightness(0%) invert(1);
    filter: brightness(0%) invert(1);
  }

  75% {
    -webkit-filter: brightness(50%) invert(0);
    filter: brightness(50%) invert(0);
  }

  100% {
    -webkit-filter: brightness(100%) invert(0);
    filter: brightness(100%) invert(0);
  }
}

@keyframes lighting {
  0% {
    -webkit-filter: brightness(0%) invert(1);
    filter: brightness(0%) invert(1);
  }

  75% {
    -webkit-filter: brightness(50%) invert(0);
    filter: brightness(50%) invert(0);
  }

  100% {
    -webkit-filter: brightness(100%) invert(0);
    filter: brightness(100%) invert(0);
  }
}